{% extends "base/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="{{url_for('home.home')}}">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="{{url_for('admin.model')}}">后台管理</a></li>
              <li class="breadcrumb-item active" aria-current="page">策略管理</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">策略管理</h1>
          </div>
      </div>
  </div>
  <div class="row mb-4">
    <div class="col-log-4 col-sm-3">
        <div class="row">
            <div class="col-1 align-items-center"></div>
            <div class="col-3 align-items-center">
                <h3 >型号></h3>
            </div>
            <div class="col-8">
                <select class="form-select mb-0" id="models" aria-label="Gender select example" onchange="select_exc()">
                    {% for m in data.models %}
                        {% if m.id == data.select_index %}
                            <option value="{{m.id}}" selected>{{m.name}}</option>
                        {% else %}
                            <option value="{{m.id}}">{{m.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
      <div class="col-log-4 col-sm-3">
        <button class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="modal" data-bs-target="#modal-form"  aria-haspopup="true" aria-expanded="false">
            <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            新增激励策略
        </button>
      </div>
      <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-body p-0">
                      <div class="card p-3 p-lg-4">
                          <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                          <div class="text-center text-md-center mb-4 mt-md-0">
                              <h1 class="mb-0 h4">新增激励策略</h1>
                          </div>
                          <form action="{{url_for('admin.excitation')}}" class="mt-4" method="post">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="name">策略名称</label>
                                  <div class="input-group">
                                      <span class="input-group-text" id="basic-addon1">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16"><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/></svg>
                                      </span>
                                      <input type="text" class="form-control" placeholder="example：2022年度激励-V50" id="name" name="name" autofocus required>
                                  </div>
                              </div>
                              <div class="form-group mb-4">
                                  <label for="start_time">策略起始时间</label>
                                  <div class="input-group">
                                        <span class="input-group-text">
                                            <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                        </span>
                                        <input data-datepicker="" class="form-control" id="start_time" name="start_time" type="text" required>
                                  </div>
                              </div>
                              <!-- End of Form -->
                              <div class="d-grid">
                                  <button type="button" class="btn btn-gray-800" onclick="add_model()">新 增</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-log-4 col-sm-3"></div>

  </div>
  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">ID</th>
                          <th class="border-0">名称</th>
                          <th class="border-0">施行时间</th>
                          <th class="border-0">可用性</th>
                          <th class="border-0 rounded-end">操作</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for model in data.exci %}
                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">{{model.id}}</a> </td>
                          <td class="fw-bold d-flex align-items-center">{{model.name}}</td>
                          <td>{{model.start_time}}</td>
                          <td>{{model.status}}</td>
                          <td>
                              <a href="#" class="text-primary d-inline-flex align-items-center " onclick="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
                              </a>
                              <a href="#" class="text-primary d-inline-flex align-items-center " onclick="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF0000" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>
                              </a>
                          </td>
                      </tr>
                      <!-- End of Item -->
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/jquery.min.js"></script>
<script>
    function select_exc() {
        var select = document.getElementById('models');
        var mod = select.options[select.selectedIndex].value;
        location.replace("?model=" + mod);
    }
    $('#modal-form').on('show.bs.modal', function (e) {
        // 在模态框内填入数据
        alert(1);
    })
    $('#modal-form').on('hide.bs.modal', function (e) {
        // 清除模态框的数据
        alert(1);
    })
</script>

{% endblock javascripts %}
