{% extends "base/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="{{url_for('home.home')}}">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="{{url_for('admin.model')}}">后台管理</a></li>
              <li class="breadcrumb-item active" aria-current="page">型号管理</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">型号管理</h1>
              <div class="col-lg-4">
                          <!-- Button Modal -->
                  <div class="col-log-4 col-sm-3">
                    <button class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="modal" data-bs-target="#modal-form" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        新增型号
                    </button>
                  </div>
                          <!-- Modal Content -->
                  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-body p-0">
                                  <div class="card p-3 p-lg-4">
                                      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                      <div class="text-center text-md-center mb-4 mt-md-0">
                                          <h1 class="mb-0 h4">新增型号信息</h1>
                                      </div>
                                      <form action="{{url_for('admin.model')}}" class="mt-4" method="post">
                                          <!-- Form -->
                                          <div class="form-group mb-4">
                                              <label for="model">新增型号</label>
                                              <div class="input-group">
                                                  <span class="input-group-text" id="basic-addon1">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16"><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/></svg>
<!--                                                              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>-->
                                                  </span>
                                                  <input type="text" class="form-control" placeholder="example：UCV20" id="model" name="model" autofocus required>
                                              </div>
                                          </div>
                                          <!-- End of Form -->
                                          <div class="d-grid">
                                              <button type="button" class="btn btn-gray-800" onclick="add_model()">新 增</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal fade" id="modal-form-edit" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-body p-0">
                                  <div class="card p-3 p-lg-4">
                                      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                      <div class="text-center text-md-center mb-4 mt-md-0">
                                          <h1 class="mb-0 h4">修改型号信息</h1>
                                      </div>
                                      <form action="{{url_for('admin.model')}}" class="mt-4" method="post">
                                          <!-- Form -->
                                          <div class="form-group mb-4">
                                              <label for="e_model_id">型号ID</label>
                                              <div class="input-group">
                                                  <span class="input-group-text" id="basic-addon0">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16"><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/></svg>
                                                  </span>
                                                  <input class="form-control" id="e_model_id" type="text" placeholder="" value="" readonly>
                                              </div>
                                          </div>
                                          <div class="form-group mb-4">
                                              <label for="e_old_model">旧型号名称</label>
                                              <div class="input-group">
                                                  <span class="input-group-text" id="basic-addon3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16"><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/></svg>
                                                  </span>
                                                  <input class="form-control" id="e_old_model" type="text" placeholder="" value="" readonly>
                                              </div>
                                          </div>
                                          <div class="form-group mb-4">
                                              <label for="e_new_model">新型号名称</label>
                                              <div class="input-group">
                                                  <span class="input-group-text" id="basic-addon4">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16"><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/></svg>
<!--                                                              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>-->
                                                  </span>
                                                  <input type="text" class="form-control" placeholder="example：UCV20" id="e_new_model" name="model" autofocus required>
                                              </div>
                                          </div>
                                          <!-- End of Form -->
                                          <div class="d-grid">
                                              <button type="button" class="btn btn-gray-800" onclick="edit_model()">修改</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                          <!-- End of Modal Content -->
              </div>
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">ID</th>
                          <th class="border-0">型号</th>
                          <th class="border-0">可用性</th>
                          <th class="border-0 rounded-end">操作</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for model in data %}
                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">{{model.id}}</a> </td>
                          <td class="fw-bold d-flex align-items-center">{{model.name}}</td>
                          <td>{{model.status}}</td>
                          <td>
                              <a href="#" class="text-primary d-inline-flex align-items-center " onclick="show_edit_modal({{model.id}},'{{model.name}}')">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
                              </a>
                              <a href="#" class="text-primary d-inline-flex align-items-center " onclick="delete_model({{model.id}},'{{model.name}}')">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF0000" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>
                              </a>
                          </td>
                      </tr>
                      <!-- End of Item -->
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/jquery.min.js"></script>
<script type="text/javascript">
    function add_model() {
        var model = document.getElementById('model').value;
        if (model == ''){
            alert('型号名不能为空');
            return 0;
            }
        var data = {};
        data['model'] = model;
        data['method'] = 'add';
        $.ajax({
            url: '{{ url_for('admin.model') }}',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            processData: false,
            success: function (result) {
                if (result['code'] == 200) {
                    location.href = '{{ url_for('admin.model') }}';
                } else {
                    alert(result['message']);
                }

            }
        });
    }
    function delete_model(id,name) {
        var conf = confirm('确定删除 '+name+' ?');
        if (conf ==true){
            $.ajax({
                url: '{{ url_for('admin.model') }}',
                type: 'DELETE',
                data: JSON.stringify({"id":id}),
                contentType: 'application/json; charset=UTF-8',
                processData: false,
                success: function (result) {
                    if (result['code'] == 200) {
                        location.reload();
                    } else {
                        alert(result['message']);
                    }

                }
            });
        }
    }
    function edit_model() {
        var id = document.getElementById('e_model_id').value;
        var model = document.getElementById('e_new_model').value;
        var data={};
        data['model'] = model;
        data['method'] = 'edit';
        data['model_id'] = id;
        $.ajax({
            url: '{{ url_for('admin.model') }}',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            processData: false,
            success: function (result) {
                if (result['code'] == 200) {
                    location.reload();
                } else {
                    alert(result['message']);
                }
            }
        });

    }
    function show_edit_modal(id,name) {
        var e_id = document.getElementById('e_model_id');
        var model = document.getElementById('e_old_model');
        e_id.value=id;
        model.value=name;

        $("#modal-form-edit").modal("toggle");
    }
    $('#modal-form-edit').on('show.bs.modal', function (e) {
        // 在模态框内填入数据
    })
    $('#modal-form-edit').on('hide.bs.modal', function (e) {
        // 清除模态框的数据
        var model = document.getElementById('e_model_id');
        model.value='';
    })
</script>
{% endblock javascripts %}
