{% extends "base/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="{url_for('excitation.all_record')}">销售记录</a></li>
              <li class="breadcrumb-item active" aria-current="page">销售激励总览</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">销售激励总览</h1>
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">销售记录ID</th>
                          <th class="border-0">销售时间</th>
                          <th class="border-0">销售备注</th>
                          <th class="border-0">销售者</th>
                          <th class="border-0">型号</th>
                          <th class="border-0">单价</th>
                          <th class="border-0">数量</th>
                          <th class="border-0">价格</th>
                          <th class="border-0 rounded-end">总价</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for r in data %}
                      <!-- Item -->
                      <tr>
                          <td>{{r}}</td>
                          <td>{{data[r]['sale_time']}}</td>
                          <td>{{data[r]['name']}}</td>
                          <td>{{data[r]['seller']}}</td>
                          <td>
                              {% for d in data[r]['model'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for d in data[r]['sale_price'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for d in data[r]['sale_number'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for d in data[r]['sum'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {{data[r]['all']}}
                          </td>

                      </tr>
                      <!-- End of Item -->
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
