{% extends "base/base.html" %}

{% block title %} All Record {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="#">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
        <li class="breadcrumb-item"><a href="{url_for('excitation.all_record')}">销售记录</a></li>
        <li class="breadcrumb-item active" aria-current="page">销售激励总览</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">销售激励总览</h1>
        </div>
        {% if current_user.is_admin() %}
        <div class="col-log-4 col-sm-3">
        <div class="row">
            <div class="col-5 align-items-center">
                <h3 >用户></h3>
            </div>
            <div class="col-7">
                <select class="form-select mb-0" id="admin_user_name" aria-label="Gender select example" onchange="select_user_record()">
                    {% for m in admin.all_user %}
                        {% if m.id == admin.select_index %}
                            <option value="{{m.id}}" selected>{{m.username}}</option>
                        {% else %}
                            <option value="{{m.id}}">{{m.username}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="icon" viewBox="0 0 16 16"><path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">激励开始时间</h2>
                            <h3 class="fw-extrabold mb-2">{{setting['settings']['start_time']}}</h3>
                        </div>
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">激励结束时间</h2>
                            <h3 class="fw-extrabold mb-2">{{setting['settings']['end_time']}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-clipboard2-data" viewBox="0 0 16 16"><path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/><path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/><path d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1Z"/></svg>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">激励进度</h2>
                            <h3 class="fw-extrabold mb-2">{{setting['number_limit']}}/{{setting['settings']['start_number']}}</h3>
                        </div>
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">激励情况</h2>
                            {% if setting['number_limit'] >= setting['settings']['start_number'] %}
                            <h3 class="text-success fw-bolder" id="done">已完成</h3>
                            {% else %}
                            <h3 class="text-danger fw-bolder" id="done">未完成</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" id="all_record">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">销售记录ID</th>
                        <th class="border-0">销售时间</th>
                        <th class="border-0">销售订单号</th>
                        <th class="border-0">销售者</th>
                        <th class="border-0">型号</th>
                        <th class="border-0">单价</th>
                        <th class="border-0">数量</th>
                        <th class="border-0">价格小计</th>
                        <th class="border-0">激励</th>
                        <th class="border-0">总价</th>
                        <th class="border-0 rounded-end">总激励</th>
                    </tr>
                </thead>
                <tbody>
                {% for r in data %}
                  <!-- Item -->
                    <tr>
                      <td>{{r}}</td>
                      <td>{{data[r]['sale_time']}}</td>
                      <td>{{data[r]['name']}}</td>
                      <td>{{data[r]['seller']}}</td>
                      <td>
                          {% for d in data[r]['model'] %}
                          {{d}}<br>
                          {% endfor %}
                      </td>
                      <td>
                          {% for d in data[r]['sale_price'] %}
                          {{d}}<br>
                          {% endfor %}
                      </td>
                      <td>
                          {% for d in data[r]['sale_number'] %}
                          {{d}}<br>
                          {% endfor %}
                      </td>
                      <td>
                          {% for d in data[r]['sum'] %}
                          {{d}}<br>
                          {% endfor %}
                      </td>
                      <td>
                        <!--        乘以数量激励系数         -->
                          {% for d in data[r]['excitation'] %}
                          {{d}}<br>
                          {% endfor %}
                      </td>
                      <td>
                          {{data[r]['all']}}
                      </td>
                      <td>
                        <!--        乘以数量激励系数         -->
                          {{data[r]['all_excitation']}}
                      </td>

                    </tr>
                  <!-- End of Item -->
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">

        </div>
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-xm-2">
                    <a>总销售额：</a>
                    <a class="text-info mb-0 display-4" id="all">test</a>
                </li>
                <li class="list-inline-item px-0 px-xm-2">
                    <a>总激励额：</a>
                    <a class="text-info mb-0 display-4" id="all_exci">test</a>
                </li>
            </ul>

        </div>
    </div>
</footer>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var totalRow = 0;
        var totalRowExci = 0;
        $('#all_record tr').each(function() {
            $(this).find('td:eq(9)').each(function(){
                    totalRow += parseFloat($(this).text());
            });
            $(this).find('td:eq(10)').each(function(){
                    totalRowExci += parseFloat($(this).text());
            });
        });
        var all = document.getElementById('all');
        var all_exci = document.getElementById('all_exci');
        var done = document.getElementById('done');
        all.text = totalRow;
        if (done.innerText == '已完成'){
        all_exci.text = totalRowExci;
        }else{
        all_exci.text = done.innerText;
        }
    });
    function select_user_record() {
        var select = document.getElementById('admin_user_name');
        var name = select.options[select.selectedIndex].text;
        var index = select.options[select.selectedIndex].value;
        location.replace("?admin_user_name=" + name + "&index=" + index);
    }
</script>
{% endblock javascripts %}
