{% extends "base/base.html" %}

{% block title %} All Record {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="{url_for('excitation.all_record')}">销售记录</a></li>
              <li class="breadcrumb-item active" aria-current="page">销售激励总览</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">销售激励总览</h1>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                        <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
                    </div>
                </div>
                <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                        <h2 class="h6 text-gray-400 mb-0">激励开始时间</h2>
                        <h3 class="fw-extrabold mb-2">{{setting['settings']['start_time']}}</h3>
                    </div>
                    <div class="d-none d-sm-block">
                        <h2 class="h6 text-gray-400 mb-0">激励进度</h2>
                        <h3 class="fw-extrabold mb-2">{{setting['number_limit']}}/{{setting['settings']['start_number']}}</h3>
                        {% if setting['number_limit'] >= setting['settings']['start_number'] %}
                        <span class="text-success fw-bolder">已完成</span>
                        {% else %}
                        <span class="text-danger fw-bolder">未完成</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded" id="all_record">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">销售记录ID</th>
                          <th class="border-0">销售时间</th>
                          <th class="border-0">销售备注</th>
                          <th class="border-0">销售者</th>
                          <th class="border-0">型号</th>
                          <th class="border-0">单价</th>
                          <th class="border-0">数量</th>
                          <th class="border-0">价格</th>
                          <th class="border-0 rounded-end">总价</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for r in data %}
                      <!-- Item -->
                      <tr>
                          <td>{{r}}</td>
                          <td>{{data[r]['sale_time']}}</td>
                          <td>{{data[r]['name']}}</td>
                          <td>{{data[r]['seller']}}</td>
                          <td>
                              {% for d in data[r]['model'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for d in data[r]['sale_price'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for d in data[r]['sale_number'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {% for d in data[r]['sum'] %}
                              {{d}}<br>
                              {% endfor %}
                          </td>
                          <td>
                              {{data[r]['all']}}
                          </td>

                      </tr>
                      <!-- End of Item -->
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">

        </div>
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-xm-2">
                    <a>总计：</a>
                    <a class="text-info mb-0 display-4" id="all">test</a>
                </li>
            </ul>

        </div>
    </div>
</footer>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var totalRow = 0
        $('#all_record tr').each(function() {
            $(this).find('td:eq(8)').each(function(){
                    totalRow += parseFloat($(this).text());
            });
        });
        var all = document.getElementById('all');
        all.text = totalRow;
    });
</script>
{% endblock javascripts %}
